<div class= "center jumbotron">
    <h1> Welcome, Parents!  Share Your Favorite Recipes for Your Children </h1>
    
    <h2>
        Packing a healthy school lunch or finding a quick dinnertime solution for your children can be difficult...we're here to help!  
    </h2>
    <%= link_to "Sign Up Today!", register_path , class:"btn btn-lg btn-success" %>

    
</div>

<div class= "row">
    <div class="col-lg-4">
        <h3 class= "midrow">
            View Recipes as Guest User
        </h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later.  Search for recipes by meal, common allergens, and ingredients.</h2>
        <p> <%= link_to "Browse Recipe Listings", recipes_path, class: "btn btn-warning btn-small"%></p>
    </div>
    
    <div class="col-lg-4">
        <h3 class= "midrow">
            Sign in to Your Account
        </h3>
        <h2 class="left">Add your recipes and photoes, create reviews, like/dislike other parents' recipes and more!</h2>
        <p> <%= link_to "Log In to Your Account", login_path, class: "btn btn-warning btn-small"%></p>
    </div>
    
    <div class="col-lg-4">
        <h3 class= "midrow">
            Love Free Recipes?  How About Free Childcare!
        </h3>
        <h2 class="left">Visit our sponsor, Parenteam.com, to learn about free childcare...for life!</h2>
        <p> <%= link_to "Visit Parenteam.com", "http://www.parenteam.com", class: "btn btn-warning btn-small"%></p>
    </div>
    
    
</div>